---
version: 2
interactions:
    - id: 0
      request:
        host: api.hyperliquid.xyz
        body: '{"type":"meta"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.hyperliquid.xyz/info
        method: POST
      response:
        body: '{"universe":[{"szDecimals":5,"name":"BTC","maxLeverage":40,"marginTableId":56},{"szDecimals":4,"name":"ETH","maxLeverage":25,"marginTableId":55},{"szDecimals":2,"name":"ATOM","maxLeverage":5,"marginTableId":5},{"szDecimals":1,"name":"MATIC","maxLeverage":20,"marginTableId":20,"isDelisted":true},{"szDecimals":1,"name":"DYDX","maxLeverage":5,"marginTableId":5},{"szDecimals":2,"name":"SOL","maxLeverage":20,"marginTableId":54},{"szDecimals":2,"name":"AVAX","maxLeverage":10,"marginTableId":52},{"szDecimals":3,"name":"BNB","maxLeverage":10,"marginTableId":51},{"szDecimals":1,"name":"APE","maxLeverage":5,"marginTableId":5},{"szDecimals":1,"name":"OP","maxLeverage":10,"marginTableId":51},{"szDecimals":2,"name":"LTC","maxLeverage":10,"marginTableId":52},{"szDecimals":1,"name":"ARB","maxLe[...]
    - id: 1
      request:
        host: api.hyperliquid.xyz
        body: '{"type":"spotMeta"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.hyperliquid.xyz/info
        method: POST
      response:
        body: "{\"universe\":[{\"tokens\":[1,0],\"name\":\"PURR/USDC\",\"index\":0,\"isCanonical\":true},{\"tokens\":[2,0],\"name\":\"@1\",\"index\":1,\"isCanonical\":false},{\"tokens\":[3,0],\"name\":\"@2\",\"index\":2,\"isCanonical\":false},{\"tokens\":[4,0],\"name\":\"@3\",\"index\":3,\"isCanonical\":false},{\"tokens\":[5,0],\"name\":\"@4\",\"index\":4,\"isCanonical\":false},{\"tokens\":[6,0],\"name\":\"@5\",\"index\":5,\"isCanonical\":false},{\"tokens\":[7,0],\"name\":\"@6\",\"index\":6,\"isCanonical\":false},{\"tokens\":[8,0],\"name\":\"@7\",\"index\":7,\"isCanonical\":false},{\"tokens\"[...]
[...]
