---
version: 2
interactions:
    - id: 0
      request:
        host: api.hyperliquid-testnet.xyz
        body: '{"type":"meta"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.hyperliquid-testnet.xyz/info
        method: POST
      response:
        body: '{"universe":[{"szDecimals":2,"name":"SOL","maxLeverage":10,"marginTableId":10},{"szDecimals":2,"name":"APT","maxLeverage":3,"marginTableId":3},{"szDecimals":2,"name":"ATOM","maxLeverage":10,"marginTableId":55},{"szDecimals":5,"name":"BTC","maxLeverage":40,"marginTableId":54},{"szDecimals":4,"name":"ETH","maxLeverage":25,"marginTableId":53},{"szDecimals":1,"name":"MATIC","maxLeverage":50,"marginTableId":50,"isDelisted":true},{"szDecimals":3,"name":"BNB","maxLeverage":10,"marginTableId":10},{"szDecimals":2,"name":"AVAX","maxLeverage":10,"marginTableId":55},{"szDecimals":0,"name":"GMT","maxLeverage":2,"marginTableId":2},{"szDecimals":1,"name":"DYDX","maxLeverage":20,"marginTableId":20},{"szDecimals":1,"name":"APE","maxLeverage":5,"marginTableId":5},{"szDecimals":1,"name":"OP","maxLeverage":50,"marginTableId":50},{"szDecimals":0,"name":"kPEPE","maxLeverage":10,"marginTableId":10},{"szDecimals":1,"name":"ARB","maxLeverage":10,"marginTableId":55},{"szDecimals":0,"name":"RLB","maxLeverage":50,"marginTableId":50,"isDelisted":true},{"szDecimals":1,"name":"WLD","maxLeverage":10,"marginTableId":10},{"szDecimals":0,"name":"HPOS","maxLeverage":50,"marginTableId":50,"isDelisted":true},{"szDecimals":2,"name":"UNIBOT","maxLeverage":2,"marginTableId":2,"onlyIsolated":true,"isDelisted":true},{"szDecimals":2,"name":"COMP","maxLeverage":5,"marginTableId":5},{"szDecimals":1,"name":"FXS","maxLeverage":3,"marginTableId":3},{"szDecimals":4,"name":"MKR","maxLeverage":10,"marginTableId":55},{"szDecimals":2,"name":"AAVE","maxLeverage":10,"marginTableId":52},{"szDecimals":1,"name":"SNX","maxLeverage":10,"marginTableId":10},{"szDecimals":1,"name":"RNDR","maxLeverage":20,"marginTableId":20,"isDelisted":true},{"szDecimals":1,"name":"LDO","maxLeverage":10,"marginTableId":5[...]
    - id: 1
      request:
        host: api.hyperliquid-testnet.xyz
        body: '{"type":"spotMeta"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.hyperliquid-testnet.xyz/info
        method: POST
      response:
        body: "{\"universe\":[{\"tokens\":[1,0],\"name\":\"PURR/USDC\",\"index\":0,\"isCanonical\":true},{\"tokens\":[2,0],\"name\":\"@1\",\"index\":1,\"isCanonical\":false},{\"tokens\":[3,0],\"name\":\"@2\",\"index\":2,\"isCanonical\":false},{\"tokens\":[4,0],\"name\":\"@3\",\"index\":3,\"isCanonical\":false},{\"tokens\":[6,0],\"name\":\"@5\",\"index\":5,\"isCanonical\":false},{\"tokens\":[7,0],\"name\":\"@6\",\"index\":6,\"isCanonical\":false},{\"tokens\":[9,0],\"name\":\"@7\",\"index\":7,\"isCanonical\":false},{\"tokens\":[8,0],\"name\":\"@8\",\"index\":8,\"isCanonical\":false},{\"tokens\"[...]
    - id: 2
      request:
        host: api.hyperliquid-testnet.xyz
        body: '{"type":"spotClearinghouseState","user":"0x8e0C473fed9630906779f982Cd0F80Cb7011812D"}'
        headers:
            Content-Type:
                - application/json
        url: https://api.hyperliquid-testnet.xyz/info
        method: POST
      response:
        body: '{"balances":[{"coin":"USDC","token":0,"total":"19.9969993","hold":"0.0","entryNtl":"0.0"},{"coin":"HYPE","token":1105,"total":"0.24965","hold":"0.2","entryNtl":"24.982487"},{"coin":"USOL","token":1279,"total":"0.9993","hold":"0.0","entryNtl":"249.99"}]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 271.157ms
